
body {
    font-family: Arial, serif;
    font-size: 10pt;
}

table {
    width: 100%;
    border: 1px solid silver;
    border-collapse: collapse;
    margin: 1em;
}

th, td {
    text-align: left;
    border: 1px solid silver;
}

thead {
    background-color: silver;
}

.passed {
    color: green;
    font-weight: bold;
}

.failed {
    color: darkred;
    font-weight: bold;
}

td pre, th pre {
    position: absolute;
    top: inherit;
    /*margin-top: 0.8em;*/
    display: none;
    background-color: lightyellow;
    box-shadow: 2px 2px 5px silver;
    font-family: monospace;
    font-size: 8pt;
}

td:hover pre, th:hover pre {
    display: block;
}

pre.left {
    left:inherit;
}
pre.right {
    right: 1em;
}