body {
    font-size: 100%;
}

#demoSourceView, #demoOutput {
    margin: 10px;
    padding: 10px;
    border: 1px solid grey;
    width: 95%;
    overflow-x: auto;
/*    box-shadow: 3px 3px 10px silver;*/
}

#demoSourceView:before, #demoOutput:before {
    position: absolute;
    top: inherit;
    left: inherit;
    margin-top: -18px;
    margin-left: 40px;
    background-color: white;
    font-family: monospace;
}
ul {
    background-color: white;
    box-shadow: 4px 4px 80px silver;
}
.paging {
    margin-right: 0.5em;
}
#demoSourceView:before {
    content: "Source code";
}

#demoOutput:before {
    content: "Output";
}

.level1 {
    padding-left: 1.5em;
}

.level2 {
    padding-left: 3em;
}

.dialog {
    margin-top: 3em;
    border: 1px solid black;
    box-shadow: 5px 5px 15px black;
}

.title {
    background-color: rgba(0,0,255,0.5);
    font-weight: bold;
    color: white;
}

.title a {
    background-color: red;
    width: 12pt;
}

.content {
    text-align: left;
    padding: 1em;
    background-color: rgba(250,255,250,0.8);
}

table, td, th {
    border: 1px solid silver;
    border-collapse: collapse;
}

td, th {
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
}

tr:nth-child(even) {
    background-color: #e3e3e3;
}

caption.error {
    background-color: bisque;
    font-family: monospace;
}

.d-n-d {
    display: inline-block;
    border: 2px solid silver;
    padding: 5px;
}

.target {
    border-color: lightgreen;
}

.droppable {
    border-color: green;
}

.space {
    height: 3em;
}
